@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-input::placeholder {
  color: #9ca3af !important; /* Gray-400 color */
}

.ant-table {
  background: #222222 !important;
}

.ant-table-cell {
  background: #222222 !important;
  color: white !important;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}
